<%- include('../partials/head.ejs') %>
<div class="container">
    <div class="card mt-5">
        <div class="card-header bg-primary text-light text-center">
            <h1>Login</h1>
        </div>
        <div class="card-body bg-dark text-light">
            <form action="/admin/autenticar" method="POST" class="p-4">
                <label for="email" class="mt-3">E-mail</label>
                <input type="email" name="email" class="form-control" required>
                <label for="senha" class="mt-3">Senha</label>
                <input type="password" name="senha" class="form-control" required>
                <button type="submit" class="btn btn-primary mt-4 form-control">Entrar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>